:root{
--main-blue:rgb(17, 97, 147);
--main-cyan:rgb(0, 232, 228);
--old-white:rgb(214, 213, 213);
--old-white-ligth:rgb(231, 231, 231);
--placeholder:rgb(107, 141, 209);
}

body,#root {
  width: 100vw;
  height: 100vh;
  box-sizing:border-box;
  }

body,#root,h1,h2,h3,p{
  margin:0;
  padding:0;
}